/* Custom styles */
body {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
  }
  
  .card-title {
    font-size: 1.5rem;
  }
  
  .card-text {
    font-size: 1.2rem;
    color: #555;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    font-size: 1.2rem;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
  
  .navbar-brand {
    font-size: 2rem;
  }
  
  .navbar-nav .nav-link {
    font-size: 1.2rem;
    color: #333;
  }
  
  .navbar-nav .nav-link:hover {
    color: #007bff;
  }
  
  .card {
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  
  .card-img-top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }